
#autocomplete-list {
    border: 1px solid #d4d4d4;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    width: 300px;
}
#autocomplete-list div {
    padding: 10px;
    cursor: pointer;
}
#autocomplete-list div:hover {
    background-color: #e9e9e9;
}
   